[Desktop Entry]
Version=1.0
Name=Bitcrore Coin
Comment=Bitcrore_Coin P2P Cryptocurrency
Comment[fr]=Bitcrore_Coin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcrore_Coin, eşten eşe kriptografik sanal para birimi
Exec=bitcrore_coin-qt %u
Terminal=false
Type=Application
Icon=bitcrore_coin128
MimeType=x-scheme-handler/bitcrore_coin;
Categories=Office;Finance;
StartupWMClass=Bitcrore_Coin-qt
