# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Bitcrore Coin Daemon SNAP
Comment=main
GenericName=Bitcrore_Coin Digital Currency Daemon Client main network
Exec=bitcrore_coin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/bitcrore_coin.png
MimeType=x-scheme-handler/bc;
Categories=X-Office;X-Finance;
Keywords=internet;bitcrore_coin;zbc;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
